@use "../../styles/variables" as *;

.root {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: $color-white;
  position: absolute;
  top: 100%;
  z-index: 1002;
  padding: 50px 0%;

  border-bottom: 1px solid $color-green;
  transform: translateX(100%);
  transition: all 0.5s;

  .wrapper {
    width: 90%;
    display: grid;
    place-items: center;
    row-gap: 15px;
    z-index: 1002;
    .language_block {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: bold;
      gap: 5%;
      z-index: 1001;
      p {
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          color: $color-orange;
        }
      }
    }
    .links_block {
      display: grid;
      place-items: flex-start;
      width: 75%;
      margin: 2% 0%;
      .phone_block {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        svg {
          height: auto;
          width: 12%;
        }
        .phone_inner {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          row-gap: 5px;
        }
        a {
          transition: all 0.3s;
          font-size: 16px;
          font-weight: 400;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .language_block {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: bold;
      gap: 5%;
      z-index: 1001;
      p {
        cursor: pointer;
        transition: all 0.3s;
        font-weight: 600;
        &:hover {
          color: $color-orange;
        }
      }
    }
    .social_block {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      a {
        transition: all 0.3s;
        width: 45%;
        svg {
          height: auto;
          width: 100%;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
.current_lang {
  color: $color-orange;
  pointer-events: none;
}

.show_burger {
  transform: translateX(0%);
}
